{% extends 'base.html' %}
{% block title %}Licenses & Attribution - Adventure{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Licenses & Attribution</h1>
  <p class="lead">This page lists all open source and third-party assets, libraries, and icon sets used in Adventure, along with their licenses and attributions.</p>
  <hr>
  <h3>Game Icons</h3>
  <p>Icons made by various artists from <a href="https://game-icons.net/" target="_blank">game-icons.net</a> under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a> or CC0. See the <a href="https://game-icons.net/about.html" target="_blank">about page</a> for full contributor list.</p>
  <ul>
    <li>Lorc, Delapouite, John Colburn, Felbrigg, John Redman, Carl Olsen, Sbed, PriorBlue, Willdabeast, Viscious Speed, Lord Berandas, Irongamer, HeavenlyDog, Lucas, Faithtoken, Skoll, Andy Meneely, Cathelineau, Kier Heyl, Aussiesim, Sparker, Zeromancer, Rihlsul, Quoting, Guard13007, DarkZaitzev, SpencerDub, GeneralAce135, Zajkonur, Catsu, Starseeker, Pepijn Poolman, Pierre Leducq, Caro Asercion, and others.</li>
  </ul>
  <h3>Other Libraries</h3>
  <ul>
    <li>Flask, Flask-SocketIO, Flask-Login, Flask-SQLAlchemy, python-dotenv: <a href="https://palletsprojects.com/p/flask/" target="_blank">BSD License</a></li>
    <li>Bootstrap 5: <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank">MIT License</a></li>
    <li>Bootstrap Icons: <a href="https://github.com/twbs/icons/blob/main/LICENSE.md" target="_blank">MIT License</a></li>
    <li>Socket.IO: <a href="https://github.com/socketio/socket.io/blob/main/LICENSE" target="_blank">MIT License</a></li>
  </ul>
  <hr>
  <p class="small text-muted">If you are an author and wish to be credited differently, please contact us.</p>
</div>
{% endblock %}
